{% extends 'apps/base.html' %}

{% block content %}
        <div class="col-sm-8 col-md-9">
                <ul class="shop__sorting">
                    <li class="active"><a href="#">Popular</a></li>
                    <li><a href="#">Newest</a></li>
                    <li><a href="#">Bestselling</a></li>
                    <li><a href="#">Price (low)</a></li>
                    <li><a href="#">Price (high)</a></li>
                </ul>
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="shop__thumb"><a href="#">
                            <div class="shop-thumb__img"><img src="https://www.bootdey.com/image/400x400/87CEFA/000000"
                                                              class="img-responsive" alt="..."></div>
                            <h5 class="shop-thumb__title"> Product Title</h5>
                            <div class="shop-thumb__price"><span class="shop-thumb-price_old">$80.99</span> <span
                                    class="shop-thumb-price_new">$59.99</span></div>
                        </a></div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="shop__thumb"><a href="#">
                            <div class="shop-thumb__img"><img src="https://www.bootdey.com/image/400x400/20B2AA/000000"
                                                              class="img-responsive" alt="..."></div>
                            <h5 class="shop-thumb__title"> Product Title</h5>
                            <div class="shop-thumb__price"> $59.99</div>
                        </a></div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="shop__thumb"><a href="#">
                            <div class="shop-thumb__img"><img src="https://www.bootdey.com/image/400x400/FFB6C1/000000"
                                                              class="img-responsive" alt="..."></div>
                            <h5 class="shop-thumb__title"> Product Title</h5>
                            <div class="shop-thumb__price"> $59.99</div>
                        </a></div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="shop__thumb"><a href="#">
                            <div class="shop-thumb__img"><img src="https://www.bootdey.com/image/400x400/87CEFA/000000"
                                                              class="img-responsive" alt="..."></div>
                            <h5 class="shop-thumb__title"> Product Title</h5>
                            <div class="shop-thumb__price"> $59.99</div>
                        </a></div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="shop__thumb"><a href="#">
                            <div class="shop-thumb__img"><img src="https://www.bootdey.com/image/400x400/FFA07A/000000"
                                                              class="img-responsive" alt="..."></div>
                            <h5 class="shop-thumb__title"> Product Title</h5>
                            <div class="shop-thumb__price"> $59.99</div>
                        </a></div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="shop__thumb"><a href="#">
                            <div class="shop-thumb__img"><img src="https://www.bootdey.com/image/400x400/48D1CC/000000"
                                                              class="img-responsive" alt="..."></div>
                            <h5 class="shop-thumb__title"> Product Title</h5>
                            <div class="shop-thumb__price"> $59.99</div>
                        </a></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="pagination pull-right">
                            <li class="disabled"><a href="#">«</a></li>
                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">»</a></li>
                        </ul>
                    </div>
                </div>
            </div>

{% endblock %}